# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html
# http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-specific.html
option_settings:
    - namespace: aws:elasticbeanstalk:application
      option_name: Application Healthcheck URL
      value: /healthCheck
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xmx
      value: 256m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: Xms
      value: 128m
    - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
      option_name: JVM Options
      value: -XX:+UseConcMarkSweepGC
    - option_name: spring.profiles.active
      value: changeme
    - option_name: ap.env
      value: changeme
