<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      th:with="currentPage='sort'">
<head>
    <style>
        .text-large {
            font-size: 40px;
        }
        .text-medium {
            font-size: 30px;
        }
        .table > tbody > tr:first-child > td {
            border: none;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        // Init the browser's own Speech Recognition
        var recognition = new webkitSpeechRecognition();
        var sounds;
        var soundSprites = {
            'silence': [0, 0.1],
            'success': [1.0, 1.6],
            'attention': [2.0, 2.6]
        };
        var currentSoundEndTime;

        var finalTranscript = '';
        var START_WORD = 'ok';
        var CHOOSE_WORD = 'pick';
        var CANCEL_WORD = 'cancel';

        var numberTranslate = {
            "1": 1,
            "one": 1,
            "2": 2,
            "two": 2,
            "to": 2,
            "too": 2,
            "3": 3,
            "three": 3,
            "4": 4,
            "four": 4,
            "for": 4,
            "5": 5,
            "five": 5,
            "6": 6,
            "six": 6,
            "sex": 6,
            "7": 7,
            "seven": 7,
            "8": 8,
            "eight": 8,
            "ate": 8
        };

        // See http://stackoverflow.com/questions/25468063/html5-audio-currenttime-attribute-inaccurate for why mp3
        // doesn't work
        if (window.location.href.includes("8443") || window.location.href.includes("8080")) {
            sounds = new Audio('http://' + window.location.hostname + ':8080/sounds/soundSprites.ogg');
        } else {
            sounds = new Audio('http://' + window.location.hostname + '/sounds/soundSprites.ogg');
        }

        sounds.addEventListener('timeupdate', function(event) {
            if (sounds.currentTime > currentSoundEndTime) {
                sounds.pause();
            }
        }, false);

        initialiseSpeech(recognition);

        var recognizing = false;

        function initialiseSpeech(speech) {
            speech.lang = "en-AU";
            speech.interimResults = false;
            speech.continuous = false;

            speech.onresult = function(event) {
                var final = false;
                var interim_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    var result;
                    if (event.results[i].isFinal) {
                        final = true;
                        result = event.results[i][0].transcript;
                        finalTranscript += ' ' + result;
                    } else {
                        result = event.results[i][0].transcript;
                        interim_transcript += ' ' + result;
                    }
                }
                if (final) {
                    doRecognise(finalTranscript.toLowerCase());
                }
            };

            speech.onstart = function() {
                recognizing = true;
                $("#redLight").hide();
                $("#greenLight").show()
            };

            speech.onend = function() {
                recognizing = false;
                $("#redLight").show();
                $("#greenLight").hide()
                speech.start();
            };

            speech.start();
        }

        function doRecognise(text) {
            var nbrResults = $("#results > tbody > tr").length;
            while (text.toLowerCase().includes(START_WORD)) {
                text = text.slice(text.toLowerCase().indexOf(START_WORD) + START_WORD.length).trim();
                finalTranscript = text;
                $('#results > tbody').empty();
                $("#text").val(text);
            }
            if (text.toLowerCase().includes(CHOOSE_WORD) && nbrResults > 0) {
                text = text.slice(text.toLowerCase().indexOf(CHOOSE_WORD)).trim();
                var row;
                if (nbrResults == 1) {
                    row = 0;
                } else {
                    row = numberTranslate[text.split(" ")[1]] - 1;
                }
                $("#results > tbody > tr").removeClass('success');
                $("#results > tbody > tr:eq(" + row + ")").addClass('success');
                finalTranscript = '';
            } else if (text.toLowerCase().includes(CANCEL_WORD) && nbrResults > 0) {
                text = text.slice(text.toLowerCase().indexOf(CANCEL_WORD)).trim();
                $("#results > tbody > tr").removeClass('success');
                finalTranscript = '';
            } else {
                if (text.trim().length > 0) {
                    $('#results > tbody').empty();
                    doSearch(text, $("#postCode").val());
                } else {
                    $('#results > tbody').empty();
                }
            }
            $("#text").val(text);
        }

        function doSearch(text, postCode) {
            $.get("/rest/api/speech",
                {text:  text, postCode: postCode},
                function(data) {
                    var html = '';
                    var success = false;
                    for (var i = 0; i < data.length; i++) {
                        html += '<tr'
                        if (data[i].confidence === 'HIGH') {
                            html += ' class="success"';
                            play('success');
                            success = true;
                        }
                        html += '><td class="inverse">' + (i+1) + '</td><td>' + data[i].address + '</td><td>' + data[i].roundId + '</td></tr>';
                    }
                    if (!success) {
                        play('attention');
                    }
                    $('#results > tbody:last-child').append(html);
                }
            );
        }

        function play(sound) {
            if (soundSprites[sound]) {
                sounds.currentTime = soundSprites[sound][0];
                currentSoundEndTime = soundSprites[sound][1];
                sounds.play();
            }
        }
        /*]]>*/
    </script>
    <div class="row">
        <div class="col-xs-2">
            <select id="postCode" class="form-control">
                <option value="">Please select:</option>
                <option value="3103">3103</option>
                <option value="3124">3124</option>
                <option value="3127">3127</option>
            </select>
        </div>
        <div class="col-xs-2">
            <select id="productType" class="form-control">
                <option value="LL">Large Letters</option>
                <option value="SP">Small Parcels</option>
            </select>
        </div>
        <div class="col-xs-6">
            <input id="text" class="form-control text-medium"/>
        </div>
        <div class="col-xs-2">
            <button type="button" id="submit" class="btn">Submit</button>
            <img id="redLight" th:src="@{/images/redLight.png}" src="../static/images/redLight.png" />
            <img id="greenLight" th:src="@{/images/greenLight.png}" src="../static/images/greenLight.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table id="results" class="table table-striped table-condensed text-large">
                    <tbody id="body">
                        <tr><td class="inverse">1</td><td>19 amelia st mckinnon 3204</td><td>RND_1234</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $("#submit").click(function () {
        doRecognise($("#text").val());
    })
    $("#postCode").click(function () {
        // Needed as first sound can only play from a user gesture
        play('silence');
    })
    /*]]>*/
    </script>
</div>
</body>
</html>