<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      th:with="currentPage='sort'">
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <style>
        .text-large {
            font-size: 40px;
        }
        .text-medium {
            font-size: 30px;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        // Init the browser's own Speech Recognition
        var recognition = new webkitSpeechRecognition();

        var final_transcript = '';
        var START_WORD = 'ok';

        initialiseSpeech(recognition);

        var recognizing = false;

        function initialiseSpeech(speech) {
            speech.lang = "en-AU";
            speech.interimResults = false;
            speech.continuous = false;

            speech.onresult = function(event) {
                var final = false;
                var interim_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    var result;
                    if (event.results[i].isFinal) {
                        final = true;
                        result = event.results[i][0].transcript;
                        final_transcript += ' ' + result;
                    } else {
                        result = event.results[i][0].transcript;
                        interim_transcript += ' ' + result;
                    }
                }
                if (final) {
                    if (final_transcript.toLowerCase().includes(START_WORD)) {
                        final_transcript = final_transcript.slice(final_transcript.toLowerCase().indexOf(START_WORD) + START_WORD.length);
                    }
                    $("#text").val(final_transcript.toLowerCase());
                    doSearch(final_transcript);
                }
            };

            speech.onstart = function() {
                recognizing = true;
            };

            speech.onend = function() {
                recognizing = false;
                speech.start();
            };

            speech.start();
        }

        function doSearch(text) {
            $.get("/rest/api/speech",
                { text:  text},
                function(data) {
                    $('#results > tbody').empty();
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        html += '<tr><td>' + data[i].address + '</td><td>' + data[i].roundId + '</td></tr>';
                    }
                    $('#results > tbody:last-child').append(html);
                }
            );
        }
        /*]]>*/
    </script>
    <div class="row">
        <div class="col-xs-10">
            <input id="text" class="form-control text-medium"/>
        </div>
        <div class="col-xs-2">
            <button type="button" id="submit" class="btn">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="results" class="table table-responsive text-large">
                <tbody id="body">
                    <tr><td>19 amelia st mckinnon 3204</td><td>RND_1234</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $("#submit").click(function () {
        doSearch($("#text").val());
    })
    /*]]>*/
    </script>
</div>
</body>
</html>