<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout"
      th:with="currentPage='sort'">
<head>
    <style>
        .text-large {
            font-size: 40px;
        }
        .text-medium {
            font-size: 30px;
        }
        .table > tbody > tr:first-child > td {
            border: none;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        // Init the browser's own Speech Recognition
        var recognition = new webkitSpeechRecognition();
        var sounds;
        var soundSprites = {
            'silence': [0, 0.1],
            'success': [2.0, 2.6],
            'attention': [4.0, 4.6]
        };
        var currentSoundEndTime;

        var finalTranscript = '';
        var START_WORD = 'ok';
        var CHOOSE_WORD = 'pick';
        var CANCEL_WORD = 'cancel';
        var SHOW_WORD = 'show';
        var LIST_WORD = 'list';
        var SPEECH_WORD = 'speech';

        var numberTranslate = {
            "1": 1,
            "one": 1,
            "2": 2,
            "two": 2,
            "to": 2,
            "too": 2,
            "3": 3,
            "three": 3,
            "4": 4,
            "four": 4,
            "for": 4,
            "5": 5,
            "five": 5,
            "6": 6,
            "six": 6,
            "sex": 6,
            "7": 7,
            "seven": 7,
            "8": 8,
            "eight": 8,
            "ate": 8
        };

        var currentListId;
        var lastListItemId;
        var currentAddresses;

        // See http://stackoverflow.com/questions/25468063/html5-audio-currenttime-attribute-inaccurate for why mp3
        // doesn't work
        if (window.location.href.includes("8443") || window.location.href.includes("8080")) {
            sounds = new Audio('http://' + window.location.hostname + ':8080/sounds/soundSprites.ogg');
        } else {
            sounds = new Audio('http://' + window.location.hostname + '/sounds/soundSprites.ogg');
        }

        sounds.addEventListener('timeupdate', function(event) {
            if (sounds.currentTime > currentSoundEndTime) {
                sounds.pause();
            }
        }, false);

        initialiseSpeech(recognition);

        var recognizing = false;

        function initialiseSpeech(speech) {
            speech.lang = "en-AU";
            speech.interimResults = false;
            speech.continuous = false;

            speech.onresult = function(event) {
                var final = false;
                var interim_transcript = '';
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    var result;
                    if (event.results[i].isFinal) {
                        final = true;
                        result = event.results[i][0].transcript;
                        finalTranscript += ' ' + result;
                    } else {
                        result = event.results[i][0].transcript;
                        interim_transcript += ' ' + result;
                    }
                }
                if (final) {
                    doRecognise(finalTranscript.toLowerCase());
                }
            };

            speech.onstart = function() {
                recognizing = true;
                $("#redLight").hide();
                $("#greenLight").show()
            };

            speech.onend = function() {
                recognizing = false;
                $("#redLight").show();
                $("#greenLight").hide()
                speech.start();
            };

            speech.start();
        }

        function doRecognise(text) {
            var nbrResults = $("#results > tbody > tr").length;
            while (text.toLowerCase().includes(START_WORD)) {
                text = text.slice(text.toLowerCase().indexOf(START_WORD) + START_WORD.length).trim();
                finalTranscript = text;
                $('#results > tbody').empty();
                $("#text").val(text);
                lastListItemId = '';
                currentAddresses = '';
            }
            if (text.toLowerCase().includes(CHOOSE_WORD) && nbrResults > 0) {
                text = text.slice(text.toLowerCase().indexOf(CHOOSE_WORD)).trim();
                var row;
                if (nbrResults == 1) {
                    row = 0;
                } else {
                    row = numberTranslate[text.split(" ")[1]] - 1;
                }
                $("#results > tbody > tr").removeClass('success');
                if (row < nbrResults) {
                    $("#results > tbody > tr:eq(" + row + ")").addClass('success');
                    deleteLastAddress();
                    addAddressToList();
                    speak(currentAddresses[row].deliveryData.deliveryOfficeRoundId.toString().substring(1,3));
                }
                finalTranscript = '';
            } else if (text.toLowerCase().includes(SHOW_WORD) && nbrResults > 0) {
                text = text.slice(text.toLowerCase().indexOf(SHOW_WORD)).trim();
                if (text.toLowerCase().includes(LIST_WORD)) {
                    $("#listTab").click();
                    finalTranscript = '';
                } else if (text.toLowerCase().includes(SPEECH_WORD)) {
                    $("#speechTab").click();
                    finalTranscript = '';
                }
            } else if (text.toLowerCase().includes(CANCEL_WORD) && nbrResults > 0) {
                text = text.slice(text.toLowerCase().indexOf(CANCEL_WORD)).trim();
                $("#results > tbody > tr").removeClass('success');
                finalTranscript = '';
                deleteLastAddress();
                play('attention');
            } else {
                if (text.trim().length > 0) {
                    $('#results > tbody').empty();
                    doSearch(text, $("#postCode").val());
                } else {
                    $('#results > tbody').empty();
                }
            }
            $("#text").val(text);
        }

        function doSearch(text, postCode) {
            $.get("/rest/api/speech",
                {text:  text, postCode: postCode},
                function(data) {
                    var html = '';
                    var success = false;
                    var resultsList = data.results[0].addresses;
                    currentAddresses = resultsList;
                    for (var i = 0; i < resultsList.length; i++) {
                        html += '<tr'
                        if (resultsList[i].confidence === 'HIGH') {
                            html += ' class="success"';
                            speak(resultsList[i].deliveryData.deliveryOfficeRoundId.toString().substring(1,3));
                            success = true;
                        }
                        html += '><td class="inverse">' + (i + 1) + '</td><td>' + resultsList[i].unstructured + '</td><td>' + resultsList[i].deliveryData.deliveryOfficeRoundId + '</td></tr>';
                    }
                    $('#results > tbody:last-child').append(html);
                    if (success) {
                        addAddressToList();
                    } else {
                        play('attention');
                    }
                }
            );
        }

        function createNewList() {
            $.ajax({
                url: '/rest/api/addressList',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(
                    {
                        postCode: $("#postCode").val(),
                        statusCd: "OPEN",
                        type: $("#productType").val()
                    }),
                type: "POST",
                success: function(data) {
                    currentListId = data.id;
                }
            });
        }

        function addAddressToList() {
            var row = $("#results > tbody > tr.success").index('tr');
            $.ajax({
                url: '/rest/api/addressList/' + currentListId + '/addressListItem',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(
                    {
                        text: currentAddresses[row].unstructured,
                        dpid: currentAddresses[row].deliveryData.dpid,
                        deliveryOfficeRoundId: currentAddresses[row].deliveryData.deliveryOfficeRoundId,
                        sectionSequence: currentAddresses[row].deliveryData.sectionSequence,
                        dpidSequenceNumber: currentAddresses[row].deliveryData.deliveryPointSequence,
                        geo: {
                            latitude: currentAddresses[row].geoDataList[0].latitude,
                            longitude: currentAddresses[row].geoDataList[0].longitude
                        }
                    }),
                contentType: "application/json; charset=utf-8",
                type: "POST",
                success: function(data) {
                    lastListItemId = data.id;
                }
            });
        }

        function deleteLastAddress() {
            if (lastListItemId != '') {
                $.ajax({
                    url: '/rest/api/addressList/' + currentListId + '/addressListItem/' + lastListItemId,
                    type: "DELETE",
                    success: function(data) {
                        lastListItemId = '';
                    }
                });
            }
        }

        function changeList() {
            $.ajax({
                url: '/rest/api/addressList',
                data: {
                    postCode: $("#postCode").val(),
                    type: $("#productType").val()
                },
                type: "GET",
                success: function(data) {
                    currentListId = data.id;
                    $("#existingListConfirm").modal({backdrop: "static"});
                },
                statusCode: {
                    404: function() {
                        createNewList();
                    }
                }
            });
        }

        function play(sound) {
            if (soundSprites[sound]) {
                sounds.currentTime = soundSprites[sound][0];
                currentSoundEndTime = soundSprites[sound][1];
                sounds.play();
            }
        }

        function speak(message) {
            var msg = new SpeechSynthesisUtterance();
            msg.volume = 1;  // 0 to 1
            msg.rate = 1;    // 0.1 to 10
            msg.pitch = 0.5; // 0 to 2
            msg.text = message;
            msg.lang = 'en-GB';
            window.speechSynthesis.speak(msg);
        }
        /*]]>*/
    </script>

    <div id="existingListConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Start new address list?</h4>
                </div>
                <div class="modal-body">
                    <p>An open delivery list exists for the selected postcode, do you want to continue with that or start a new one?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="existingListContinueBtn" class="btn btn-primary deliveryListBtns" style="float:left;">Continue</button>
                    <button type="button" id="existingListStartNewBtn" class="btn btn-default deliveryListBtns">Start New</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <select id="postCode" class="form-control">
                <option value="">Please select:</option>
                <option value="3103">3103</option>
                <option value="3124">3124</option>
                <option value="3127">3127</option>
            </select>
        </div>
        <div class="col-xs-2">
            <select id="productType" class="form-control">
                <option value="LARGE_LETTER">Large Letters</option>
                <option value="SMALL_PARCEL">Small Parcels</option>
            </select>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a id="speechTab" data-toggle="tab" href="#speech">Speech</a></li>
        <li><a id="listTab" data-toggle="tab" href="#list">List</a></li>
    </ul>

    <div class="tab-content">
        <div id="speech" class="tab-pane fade in active">
            <div class="row">
                <div class="col-xs-6">
                    <input id="text" class="form-control text-medium"/>
                </div>
                <div class="col-xs-2">
                    <button type="button" id="submit" class="btn">Submit</button>
                    <img id="redLight" th:src="@{/images/redLight.png}" src="../static/images/redLight.png" />
                    <img id="greenLight" th:src="@{/images/greenLight.png}" src="../static/images/greenLight.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="results" class="table table-striped table-condensed text-large">
                            <tbody id="body">
                            <tr><td class="inverse">1</td><td>19 amelia st mckinnon 3204</td><td>RND_1234</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="list" class="tab-pane fade">
            <div class="table-responsive">
                <table id="list-grid"
                       class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th data-column-id="id" data-identifier="true" data-type="numeric" data-visible="false">Identfier</th>
                        <th data-column-id="text">Address</th>
                        <th data-column-id="dpid" data-type="numeric">DPID</th>
                        <th data-column-id="deliveryOfficeRoundId" data-type="numeric">Round</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    <!--
    -->
    /*<![CDATA[*/
    $(document).ready(function() {
        $("#list-grid").bootgrid(
            {
              caseSensitive: false
            }
        );
    });

    $("#listTab").click(function() {
        $.ajax({
            url: '/rest/api/addressList/' + currentListId ,
            type: "GET",
            success: function(data) {
                $("#list-grid").bootgrid("clear").bootgrid("append", data.addressListItems);
            }
        });
    });

    $("#submit").click(function () {
        doRecognise($("#text").val());
    });

    $("#postCode").click(function () {
        // Needed as first sound can only play from a user gesture
        play('silence');
    });

    $("#postCode").change(function () {
        changeList();
    });

    $("#productType").change(function () {
        changeList();
    });

    $("#existingListContinueBtn").click(function() {
        $("#existingListConfirm").modal('hide');
    });

    $("#existingListStartNewBtn").click(function() {
        createNewList();
        $("#existingListConfirm").modal('hide');
    });
    /*]]>*/
    </script>
</div>
</body>
</html>