<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="currentPage='sortPlans'">
<!-- API Key AIzaSyARB7odEMxJYFxgOx5-eBjmx0iF6CZ8zdk -->
<body>
<div layout:fragment="content">
    <ol class="breadcrumb">
        <li>Sort Plans</li>
    </ol>
    <h2>Sort Plans</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table id="grid-basic" class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th data-column-id="description" data-formatter="link">Description</th>
                        <th data-column-id="facilityName">Facility</th>
                        <th data-column-id="print" data-type="boolean" data-formatter="checkbox" data-searchable="false">Print</th>
                        <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-searchable="false">Commands</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="editSortPlan" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sort Plan</h4>
                </div>
                <div id="editSortPlanBody" class="modal-body centered-text">
                    <div class="container-fluid">
                        <form id="editSortPlanForm" class="form-horizontal">
                            <input id="id" type="hidden" />
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="description" placeholder="Description" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="facility" class="col-sm-3 control-label">Facility</label>
                                <div class="col-sm-9">
                                    <select id="facility" name="facility" class="form-control">
                                        <option th:each="facility: ${facilities}" th:value="${facility.id}" th:text="${facility.name}" />
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input id="print" type="checkbox" value="true"> Print</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="editSortPlanSave" class="btn btn-primary">Save</button>
                    <button type="button" id="editSortPlanCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteSortPlan" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sort Plan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="deleteSortPlanBody" class="modal-body centered-text">
                    <div class="container-fluid">
                        <input id="deleteSortPlanId" type="hidden" />
                        Delete sort plan <span id="deleteSortPlanDescription">description</span>?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteSortPlanConfirm" class="btn btn-primary">Confirm</button>
                    <button type="button" id="deleteSortPlanCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $( document ).ready(function() {
            var grid = $("#grid-basic").bootgrid({
                caseSensitive: false,
                formatters: {
                    "link": function(column, row) {
                        return '<a href="' + [[@{/sortplan}]] + '/' + row.id + '/breaks">' + row.description + '</a>';
                    },
                    "checkbox": function(column, row) {
                        if (row.print === true) {
                            return '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>';
                        } else {
                            return '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
                        }
                    },
                    "commands": function(column, row) {
                        return '<button type="button" class="btn btn-xs btn-default command-edit" data-row-id="' + row.id + '"><span class="glyphicon glyphicon-pencil"></span></button> ' +
                            '<button type="button" class="btn btn-xs btn-default command-delete" data-row-id="' + row.id + '"><span class="glyphicon glyphicon-trash"></span></button>';
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function() {
                <!--/* Executes after data is loaded and rendered */-->
                grid.find(".command-edit").on("click", function(e) {
                    var id = $(this).data("row-id");
                    retrieveSortPlan(id, function(response) {
                        clearForm();
                        $("#id").val(response.id);
                        $("#description").val(response.description);
                        if (response.print) {
                            $('#print').prop('checked', true);
                        }
                        $("#facility").val(response.facility.id);
                        $("#editSortPlan").modal('show');
                    });
                }).end().find(".command-delete").on("click", function(e) {
                    var id = $(this).data("row-id");
                    retrieveSortPlan(id, function(response) {
                        $("#deleteSortPlanId").val(id);
                        $("#deleteSortPlanDescription").text(response.description);
                        $("#deleteSortPlan").modal('show');
                    });
                });
            });

            $("#grid-basic-header")
                .find('.actions.btn-group')
                .append('<div class="btn-group"><button id="newSortPlan" type="button" class="btn btn-primary">New...</button></div>');

            $("#newSortPlan").click(function() {
                clearForm();
                $("#editSortPlan").modal('show');
            });

            listSortPlans(function(response) {
                $("#grid-basic").bootgrid("clear").bootgrid("append", response);
            });
        });

        $("#editSortPlanSave").click(function() {
            var sortPlan = {
                id: $("#id").val(),
                description: $("#description").val(),
                print: $("#print").is(":checked"),
                facility: {
                    id: $("#facility").val()
                }
            };
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                type : "POST",
                url : '/rest/api/sortPlan',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [header]: token
                },
                data: JSON.stringify(sortPlan),
                success : function(response) {
                    listSortPlans(function(response) {
                        $("#grid-basic").bootgrid("clear").bootgrid("append", response);
                    });
                    $("#editSortPlan").modal('hide');
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert("An unexpected error has occurred: " + errorThrown);
                }
            });
        });

        $("#deleteSortPlanConfirm").click(function() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var id = $("#deleteSortPlanId").val();
            $.ajax({
                type : "DELETE",
                url : [[@{/rest/api/sortPlan/}]] + id,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    [header]: token
                },
                success : function(response) {
                    listSortPlans(function(response) {
                        $("#grid-basic").bootgrid("clear").bootgrid("append", response);
                    });
                    $("#deleteSortPlan").modal('hide');
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert("An unexpected error has occurred: " + errorThrown);
                }
            });
        });

        function listSortPlans(callback) {
            $.ajax({
                type : "GET",
                url : [[@{/rest/api/sortPlans/}]],
                success : function(response) {
                    <!--/* Need to flatten the data for bootgrid */-->
                    var rows = [];
                    for (i = 0; i < response.length; i++) {
                        rows.push({
                            id: response[i].id,
                            description: response[i].description,
                            facilityId: response[i].facility.id,
                            facilityName: response[i].facility.name,
                            print: response[i].print
                        });
                    }
                    callback(rows);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert("An unexpected error has occurred " + errorThrown);
                }
            });
        }

        function retrieveSortPlan(id, callback) {
            $.ajax({
                type : "GET",
                url : [[@{/rest/api/sortPlan/}]] + id,
                success : function(response) {
                    callback(response);
                },
                error : function(xhr, textStatus, errorThrown) {
                    alert("An unexpected error has occurred " + errorThrown);
                }
            });
        }

        function clearForm() {
            $("#editSortPlanForm").find('input:text, input:password, input:hidden, select, textarea').val('');
            $("#editSortPlanForm").find('input:radio, input:checkbox').prop('checked', false);        }
        /*]]>*/
    </script>
</div>
</body>
</html>
